.page-header.no-margin
	.media.padding-top.padding-bottom
		.pull-left.margin-right
			=link_to c do
				=image_tag "#{c.car_photo(:medium)}", :class=>"media-object half-margin-bottom car-photo"
			-if current_user
				-if c.user.id == current_user.id
					%ul.inline
						%li
							= link_to({:action => 'destroy_car', :controller=>"cars", :id => c.id}, "data-confirm" => "are you sure?") do
								%i.icon-trash 
								Delete
						%li
							= link_to({:action => 'edit', :controller=>"cars", :id => c.id})do
								%i.icon-cog
								Edit
		.media-body
			.margin-bottom
				=link_to c do
					%h4.no-margin-top
						=c.make
						=c.car_model
				%p
					Year:
					%strong
						=c.year
				%p
					Color:
					%strong
						=c.color
				%p
					Doors:
					%strong
						=c.number_of_doors
				%p
					Plate:
					%strong
						-if c.plate_number.blank?
							%span.muted
								not yet set
						-else
							=c.plate_number
						
			%h5
				Owner Info
			.half-margin-bottom
				=image_tag c.user.avatar.url(:thumb), :class=>"half-margin-right"
				=link_to c.user do
					=c.user.name
			%ul.inline
				%li
					%i.icon-mobile-phone{:style=>"font-size:18pt;"}
					=number_to_phone(c.user.phone_number, area_code: true) 
				%li
					%i.icon-envelope{:style=>"font-size:15pt;"}
					= link_to "mailto:#{c.user.email}" do
						=c.user.email 