.field
  = f.label 'make'
  = f.text_field :make, :required => true
.field
  = f.label 'model'
  = f.text_field :car_model, :required => true
.field
  = f.label 'year'
  = f.text_field :year, :required => true
.field
  = f.label 'color'
  = f.text_field :color, :required => true
.field
  = f.label 'number of doors'
  = f.text_field :number_of_doors, :required => true
.field
  = f.file_field :car_photo, :required => false