.row
  .span6
    .media.margin-bottom
      .media-body.margin-bottom
        %h4.media-heading 
          Editing
          %span.muted
            = @car.make
      .clearfix
  .span6
    = form_for(:car, :url => {:action => 'update_car', :id => @car.id}) do |f|
      .field
        = f.label 'make'
        = f.text_field :make
      .field
        = f.label 'model'
        = f.text_field :car_model
      .form-buttons
        = submit_tag("Update Car", :class=>"btn")
        = link_to("Cancel", {:action => 'show'}, :class => 'btn')
